.navbar{
  background-color:rgba(0,0,0,.8)
}
.nav-link{
  color:#d3d3d3;
  font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size:1.1rem;
  color:#fff;
  letter-spacing:.0625em;
  padding:1rem!important
}
.nav-link:hover{
  color:#ffc800!important
}
.navbar-text{
  line-height:1.3rem;
  display:none;
  top:17px!important;
  color:#fff!important
}
@media (min-width:768px){
  .navbar-brand.abs{
      position:absolute;
      width:auto;
      left:50%;
      top:55px;
      transform:translate(-50%,0);
      text-align:center
  }
  .navbar-brand.abs img{
      width:256px;
      height:auto
  }
  .navbar{
      height:6rem;
      background-color:transparent;
      position:fixed;
      top:0;
      right:0;
      left:0;
      z-index:1030
  }
  .navbar-nav{
      margin-right:180px;
      margin-left:180px;
      margin-top:90px;
      font-size:large
  }
  .nav-link{
      color:#f5f5f5!important
  }
  #mainNav{
      padding-top:1.5rem;
      padding-bottom:1.5rem;
      border:none;
      background-color:transparent
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #161616da;
  }

  #mainNav.navbar-shrink .navbar-brand.abs {
    top: 20px;
  }

  #mainNav.navbar-shrink .navbar-brand.abs img {
    width: 158px;
    height: auto;
  }

  #mainNav.navbar-shrink .navbar-nav{
    margin-top: 0px;
  }
}
header{
  background-image:url(assets/background.jpg);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  background-size:cover;
  padding-top:7rem!important;
  padding-bottom:2rem!important;
}
.masthead-heading{
  font-family:Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size:4.5rem;
  font-weight:700;
  line-height:4.5rem;
  margin-bottom:5rem;
}
.masthead{
  font-family:'Bebas Neue',cursive;
  font-size:1.3rem;
}
section{
  padding:1.5rem;
}
.col-icon{
  max-width:2.2rem!important;
}
.masthead .col{
  padding:.3rem;
}

.masthead a{
  text-decoration: none !important;
}

.masthead a:link {
  text-decoration: none;
  color:var(--bs-body-color);
}

.masthead a:visited {
  text-decoration: none;
  color:var(--bs-body-color);
}

.gold-writing{
  color:#fcb228;
}
#history{
  padding-top:2.5rem;
  padding-bottom:2.5rem;
}


header.masthead .countdown{
  text-align:center;
  padding-top:3rem;
  padding-bottom:4rem;
  font-size:2rem;
  font-style: italic;
}
header.masthead .countdown #countdownText{
  font-size:3rem
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem !important;
    padding-bottom: 12.5rem !important;
  }
  header.masthead .countdown {
    font-size: 2.25rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
  header.masthead .countdown #countdownText{
    font-size:4rem
  }
  .col-icon{
    max-width:2.7rem!important
  }
  .masthead{
    font-size:1.8rem
  }
}

#mainNav.navbar-shrink .navbar-text {
  display: initial;
  color: #ffc800 !important;
}

.masthead .row {
  margin-right: 0;
  margin-left: 0;
}

.navbar button {
  font-size: 1rem;
}