.navbar {
  background-color: black;
}

.nav-link {
  color: lightgray;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
  padding: 1rem !important;
}

.nav-link:hover {
  color: #ffc800 !important;
}

.navbar-text {
  line-height: 1.3rem;
  display: none;
  top: 17px !important;
  color: white !important;
}

#mainNav.navbar-shrink .navbar-text {
  display: initial;
  color: #ffc800 !important;
}

@media (min-width: 768px) {
  .navbar-brand.abs{
    position: absolute;
    width: auto;
    left: 50%;
    top: 55px;
    transform: translate(-50%, 0%);
    text-align: center;
  }
  .navbar-brand.abs img {
    width: 256px;
    height: auto;
  }
  .navbar {
    height: 6rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .navbar-nav{
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 90px;
    font-size: large;
  }
  .nav-link {
    color: whitesmoke !important;
  }

  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
  }
  
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }

  #mainNav.navbar-shrink .navbar-brand.abs {
    top: 20px;
  }

  #mainNav.navbar-shrink .navbar-brand.abs img {
    width: 158px;
    height: auto;
  }

  #mainNav.navbar-shrink .navbar-nav{
    margin-top: 0px;
  }
}

header {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 7rem !important;
  padding-bottom: 4rem !important;
}

.masthead-heading {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 5rem;
}

.handwriting {
  font-family: "Dancing Script", sans-serif;
  font-size: 5rem;
  color: #fcb228;
}

.masthead-subheading {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.masthead .col {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
}

section {
  padding:1.5rem;
}

.col-icon {
  max-width:3rem !important;
}



.masthead .col {
  padding: 0.3rem;
}

.gold-writing {
  color: #fcb228;
}

.man-logo {
  padding-bottom: 3rem;
  transform:translateX(0px);
}