.navbar {
    background-color: rgba(0, 0, 0, .8)
}

.nav-link {
    font: 1.1rem 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: .0625em;
    padding: 1rem 1rem 1rem 1rem !important
}

@media (min-width:768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        top: 55px;
        transform: translate(-50%, 0);
        text-align: center;
        transition: ease-in-out top 0.15s
    }

    .navbar-brand.abs img {
        width: 256px;
        height: auto
    }

    .navbar {
        height: 6rem;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030
    }

    .navbar-nav {
        margin-right: 180px;
        margin-left: 180px;
        margin-top: 90px;
        font-size: large
    }

    .nav-link {
        color: #f5f5f5 !important
    }

    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: ease-in-out top 0.1s, padding-top 0.1s
    }

    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #161616da;
    }

    #mainNav.navbar-shrink .navbar-brand.abs {
        top: 20px;
    }

    #mainNav.navbar-shrink .navbar-brand.abs img {
        width: 158px;
        height: auto;
        transition: ease-in-out width 0.15s, height 0.15s;
    }

    #mainNav.navbar-shrink .navbar-nav {
        margin-top: 0px;
    }

    #mainNav.navbar-shrink a:hover {
        display: initial;
        color: #ffc800 !important;
      }

    .masthead .masthead-col {
        padding-left: 30px !important;
        padding-right: 30px !important
    }

    .google-maps iframe {
        padding: 0 50px
    }
}

header {
    background: url(../images/background.jpg) no-repeat scroll center center;
    background-size: cover;
    padding-top: 6rem !important;
    padding-bottom: 2rem !important
}

.masthead,
#maps .row {
    font: 1.7rem "Bebas Neue", Arial, Helvetica, sans-serif
}

.masthead a,
#maps .row a {
    text-decoration: none !important
}

section {
    padding: 1.5rem
}

.col-icon {
    max-width: 2.3rem !important
}

.masthead a:link,
#maps .row a:link {
    text-decoration: none;
    color: var(--bs-body-color)
}

.gold-writing {
    color: #fcb228
}

#about {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

header.masthead .countdown {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    font-size: 2rem;
    font-style: italic
}

header.masthead .countdown #countdownText {
    font-size: 3rem
}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem !important;
        padding-bottom: 6rem !important
    }

    header.masthead .countdown {
        font-size: 2.25rem;
        line-height: 4rem;
        margin-bottom: 3rem
    }

    header.masthead .countdown #countdownText {
        font-size: 4rem
    }

    .col-icon {
        max-width: 2.7rem !important
    }

    .masthead {
        font-size: 1.8rem
    }

    .carousel .carousel-item {
        height: 250px
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 250px
    }

    div.masthead-col:nth-child(1) {
        justify-content: flex-end;
        display: grid
    }

    #historyModal .img1 {
        padding-left: 10px;
    }

    #historyModal .img2 {
        padding-right: 15px;   
    }
    
    #about,
    #menu,
    #maps,
    #maps {
        scroll-margin-top: 96px;
    }
}

.navbar button {
    font-size: 1rem
}

.google-maps iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.col-sm-3>div:nth-child(1) {
    min-height: 50%
}

.col-sm-3>div:nth-child(2) {
    min-height: 50%
}

#about .row {
    align-items: stretch !important
}

@media (max-width:768px) {
    #about .section-heading {
        text-align: center;
        padding-bottom: 1rem
    }

    .row-cols-1 {
        display: grid
    }

    #historyModal img {
        width: 100%;
        padding-top:10px;
        padding-bottom:10px;
    }

    #about button {
        margin-bottom: 20px;
    }

    div.masthead-col:nth-child(2) {
        padding-top: 20px;
    }

    #about,
    #menu,
    #maps,
    #maps {
        scroll-margin-top: 66px;
    }

    #maps,
    #maps .container {
        padding: 0rem;
    }
}

#menu {
    background: url(../images/menu.jpg) no-repeat scroll center center;
    background-size: cover;
    padding-bottom: 0 !important
}

#menuIcon {
    width: 140px;
    height: auto;
    transform: translate(-10px, 40px);
    z-index: 2;
    position: relative;
    transition: ease-in-out transform 0.2s
}

#maps {
    z-index: 99;
    position: relative;
    background: #222;
    padding-top: 2rem
}

h2 {
    font: 2.5rem 'Domine', serif
}

a:visited {
    text-decoration: none;
    color:var(--bs-body-color);
  }

.gold-link,
.gold-link:link,
.gold-link:visited,
.gold-link:hover,
.gold-link:active {
    text-decoration: none;
    color: #fcb228 !important
}

.btn.btn-dark.btn-social {
    background-color: #222;
    border-color: #222
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

footer i {
    font-size: 1.5rem;
}